/* color palette
dark blue: rgba(122,131,153,1)
cooler light blue: rgba(192,210,255,1)
blue tint #3: rgba(222,223,255,1)
salmon chromatic: rgba(253,130,170,1)
muted yellow: rgba(254,241,170,1)
*/

html, body	{
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro';
	height: 100%;
}
header	{
	width: 100%;
	min-height: 700px;
	background-image: url('test_.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

header img	{
	display: block;
	margin: 0 auto;
	padding-top: 3%;
	width: 80px;
}
h1	{
	font-size: 4em;
	line-height: 1em;
	color: rgba(122,131,153,0.25);
	text-align: center;
	margin: 0;
	padding: 0 6% 0 6%;
}

h2	{
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	color: rgba(122,131,153,1);
	margin: 0;
	padding: 36px 0 0 0;
}

.cardcollection	{
	width: 96%;
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1.5% 2% 0 2%;
}

.diagram    {
    display: flex;
	flex: 1;
	flex-direction: column;
	height: auto;
	background-color: rgba(255,255,255,1);
	margin: 1%;
	box-shadow: 0 6px 12px rgba(0,0,0,0.2);
	border-radius: 4px;
    

}

.myborder	{
	border-top: 1px solid white;
	width: 50%;
	margin: 1em auto;
}

.mybutton	{
	font-size: 1.25em;
	font-weight: 300;
	text-align: center;
	display: block;
	background-color: rgba(18, 15, 136, 0.75);
	width: 140px;
	margin: 1.25em auto;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.75);
	padding: 0.25em;
	border-radius: 4px;
	transition: all 0.3s ease;
}

.mybutton2	{
	font-size: 1.25em;
	font-weight: 300;
	text-align: center;
	display: block;
	background-color: rgba(18, 15, 136, 0.75);
	width: 140px;
	margin: 1.25em auto;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.75);
	padding: 0.25em;
	border-radius: 4px;
	transition: all 0.3s ease;
}

.mybutton:hover	{
	background-color: rgb(255, 0, 0);
	box-shadow:	8px 8px 16px rgba(0,0,0,0.2);
}

.card img	{
	width: 340px;
	height: 440px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px 4px 0 0;
}

.card	{
	display: flex;
	flex: 1;
	flex-direction: column;
	height: auto;
	background-color: rgba(255,255,255,1);
	margin: 1%;
	box-shadow: 0 6px 12px rgba(0,0,0,0.2);
	border-radius: 4px;
	text-align: center;
}
.dcard	{
	display: flex;
	flex: 1;
	flex-direction: column;
	height: auto;
	background-color: rgba(255,255,255,1);
	margin: 1%;
	box-shadow: 0 6px 12px rgba(0,0,0,0.2);
	border-radius: 4px;
}

.dcard img	{
	width: 1400px;
	height: 1400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px 4px 0 0;
}

.two_columns	{
	width: 70%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row; /* so that the columns appear side-by-side */
	flex-wrap: wrap; /* columns drop side-to-bottom when needed */
}

.three_columns	{
	width: 70%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row; /* so that the columns appear side-by-side */
	flex-wrap: wrap; /* columns drop side-to-bottom when needed */
}
.column	{
	display: flex;
	flex-direction: column; /* contents appear top-to-bottom */
	flex: 1; /* makes column widths the same = 1 */
	margin: 1em 1em 0 1em;
}

.column2	{
	display: flex;
	flex-direction: column; /* contents appear top-to-bottom */
	flex: 1; /* makes column widths the same = 1 */
	margin: 1em 1em 0 1em;
}